<!-- As a link -->
<nav class="navbar bg-body-tertiary" style="background-color: #94a3b8;">
    <div class="container-fluid">
      <ul class="nav justify-content-center">
        <li  class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/questionnaire">Questionnaire</a>
        </li>
      </ul>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </nav>